.game-wrapper{
  background-image: url("https://images.pexels.com/photos/1029624/pexels-photo-1029624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  /* background-image: url("https://thumbs.dreamstime.com/b/floral-mosaic-tiles-seamless-pattern-background-vector-flower-decor-elements-31416512.jpg");
  background-size: 70%; */
}


.paper-wrapper {
  display:grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 30px;
  padding-top: 30px;
  margin: auto;
  width: 70%;
}

.left-paper, .right-paper{
  padding: 20px;
}

.gameboard-wrapper{
  width: 80%;
  height: 100vh;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.your-turn{
  color: rgb(45, 156, 45);
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(235, 235, 192);
  padding: 5px;
}

.winner-div{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

.gameMusic{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

.emoji-animation img{
  /* width: 50%;
  height: 50%; */
  min-width: 500px;
  min-height: 500px;
  margin-top: 0px;
  
}

.winner-yay{
  text-align: center;
  color: white;
  font-size: 50px;
  background-color: orange;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;


}